$cy-tooltip-class: 'tooltip';
$cy-tooltip-background-color: #111 !default;
$cy-tooltip-color: #FFF !default;
$arrow-size: 5px !default;

@mixin cy-tooltip-color($color) {
  &.#{$cy-tooltip-class} {
    color: $color; 
  }
}

@mixin cy-tooltip-background-color($color) {
  &.#{$cy-tooltip-class} {
    background: $color;
  }

  &.#{$cy-tooltip-class}-top,
  &.#{$cy-tooltip-class}-top-start,
  &.#{$cy-tooltip-class}-top-end {
    .#{$cy-tooltip-class}-arrow {
      border-top-color: $color;
    }
  }

  &.#{$cy-tooltip-class}-right,
  &.#{$cy-tooltip-class}-right-start,
  &.#{$cy-tooltip-class}-right-end {
    .#{$cy-tooltip-class}-arrow {
      border-right-color: $color;
    }
  }

  &.#{$cy-tooltip-class}-left,
  &.#{$cy-tooltip-class}-left-start,
  &.#{$cy-tooltip-class}-left-end {
    .#{$cy-tooltip-class}-arrow {
      border-left-color: $color;
    }
  }

  &.#{$cy-tooltip-class}-bottom,
  &.#{$cy-tooltip-class}-bottom-start,
  &.#{$cy-tooltip-class}-bottom-end {
    .#{$cy-tooltip-class}-arrow {
      border-bottom-color: $color;
    }
  }
}

.#{$cy-tooltip-class} {
  background: $cy-tooltip-background-color;
  border-radius: 3px;
  color: $cy-tooltip-color;
  display: inline-block;
  font-size: 12px;
  left: 0;
  max-width: 200px;
  padding: 4px 6px;
  text-align: center;
  top: 0;
  z-index: 100;
}

.#{$cy-tooltip-class}-arrow {
  border-color: transparent;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

.#{$cy-tooltip-class}-top,
.#{$cy-tooltip-class}-top-start,
.#{$cy-tooltip-class}-top-end {
  margin-bottom: $arrow-size;

  .#{$cy-tooltip-class}-arrow {
    bottom: -$arrow-size;
    border-width: $arrow-size $arrow-size 0;
    border-top-color: $cy-tooltip-background-color;
  }
}

.#{$cy-tooltip-class}-right,
.#{$cy-tooltip-class}-right-start,
.#{$cy-tooltip-class}-right-end {
  margin-left: $arrow-size;

  .#{$cy-tooltip-class}-arrow {
    left: -$arrow-size;
    border-width: $arrow-size $arrow-size $arrow-size 0;
    border-right-color: $cy-tooltip-background-color;
  }
}

.#{$cy-tooltip-class}-left,
.#{$cy-tooltip-class}-left-start,
.#{$cy-tooltip-class}-left-end {
  margin-right: $arrow-size;

  .#{$cy-tooltip-class}-arrow {
    right: -$arrow-size;
    border-width: $arrow-size 0 $arrow-size $arrow-size;
    border-left-color: $cy-tooltip-background-color;
  }
}

.#{$cy-tooltip-class}-bottom,
.#{$cy-tooltip-class}-bottom-start,
.#{$cy-tooltip-class}-bottom-end {
  margin-top: $arrow-size;

  .#{$cy-tooltip-class}-arrow {
    top: -$arrow-size;
    border-width: 0 $arrow-size $arrow-size;
    border-bottom-color: $cy-tooltip-background-color;
  }
}
